# Virtual Environments
venv/
env/
.env

# Data
data/raw/
data/features/
*.zip
*.tar.gz

# Machine Learning Outputs
models/*.h5
models/*.pkl
models/*.npy

# Python Caches
__pycache__/
*.pyc

# Local Configs
.vscode/
.idea/
